extends /base
include /mixins
include /image
include /menu

block content
   +pageHeader
      span Menu
   .wrapper
      header.page-heading
         ul.site-title.colored-on-hover-links
            li: a(href='text') Text
            li: a(href='web') Web
            li: a(href='grafik') Grafik
         h1.site-subtitle Design is Art for Loosers
      main.page-main
         .page-intro
            p.
               Mein Name ist Dominic Looser und ich mache Webseiten, Bücher und 
               Lesungen. Und noch ein paar Sachen mehr. Hallo!
         .grid
            +wasrauskam

            mixin sectionCard(title, link)
               section.card
                  header.card-header
                     h2.card-title
                        if link
                           a(href=link).underline-on-hover= title
                        else
                           = title
                  main.card-main
                     block
                     

            +sectionCard('Grafik', 'grafik')
               section.card-section
                  +lightboxImage('grafik/das-glueck.jpg')
               section.card-section
                  a(href='/grafik').arrow alle Grafiken


            //- section.card
            //-    h2.card-title Nächste Auftritte
            //-    +performancelist
            //- section.card
            //-    h2.card-title: a(href='web').underline-on-hover Web
            //-    - site = sites[0]
            //-    a(href=site.link).card-section
            //-       img(src='/images/small/web/' + site.image)
            //-    //- h3.card-section= site.title
            //-    .card-section
            //-       a(href='/web').arrow-link alle Webseiten 
            
            //- section.card
            //-    h2.card-title T-Shirts
            //-    a(href='https://image.spreadshirtmedia.net/image-server/v1/products/141240618/views/1,width=650,height=650,appearanceId=2,crop=detail,modelId=1405,version=1542191349.jpg')
            //-       img(src='https://image.spreadshirtmedia.net/image-server/v1/products/141240618/views/1,width=650,height=650,appearanceId=2,crop=detail,modelId=1405,version=1542191349.jpg')
            
            +sectionCard('Projekte')
               ul.arrow-links
                  li: a(href='https://thebinarytruth.com') The Binary Truth
                  li: a(href='projekt-799') Projekt 799
                  li: a(href='http://diekrassetassegmbh.ch') Die Krasse Tasse GmbH
                  li: a(href='/die-essenz-des-lebens') Die Essenz des Lebens
                  li: a(href='http://einezwecklosewebseite.ch') Eine zwecklose Webseite
                  li: a(href='https://facebook.com/AnalogeTage/') Analoge Tage
                  li TsnuK (inaktiv)
                  li Cinemap (inaktiv)

            +sectionCard('Dienstleistungen')
               ul.arrow-links
                  li: a(href='/web') Web: Design und Programmierung
                  li: a(href='/grafik') Typographische Gestaltung
                  li: a(href='/text') Lesungen und Performances

            +sectionCard('Kontakt')
               ul.arrow-links
                  li: a(href='mailto:#{email}') Email
                  li: a(href='https://www.facebook.com/dominic.looser') Facebook
                  li: a(href='tel:+41787730105') 078 773 01 05
      include /footer     

block append scripts
   script(src='/scripts/moment-with-locales.min.js')
   script(src='/scripts/homepage.js')
   script(src='/scripts/formatdates.js')
   script(src='/scripts/lightbox.min.js')


   

