extends /base
include /page_heading
include /sections
include /wikidata
include /menu

block content

   -
      map = new Map()
      map.set('In Arbeit', [])
      for (project of external.projects) {
         if ('year' in project) {
            if (!(map.has(project.year))) {
               map.set(project.year, [])
            } 
            map.get(project.year).push(project)
         }  else {
            map.get('In Arbeit').push(project)
         }    
      }
      projects = Array.from(map.entries()).sort().reverse()
         

   .wrapper
      +pageHeader(true)
         span Menu
      +pageHeading('Projekte')
      .page-main
         .projects.columns
            - for ([year, projects] of projects)
               +section(year)
                  ul.project-list
                     for project in projects
                        li
                           span.project-title= project.title
                           if project.type
                              span= ' ('
                              +label(project.type)
                              span )
                           if project.more 
                              span= ' '
                              a.arrow.colored.underlined-on-hover(href=project.id) mehr 
                           if project.link
                              span= ' '
                              a.arrow.colored.underlined-on-hover(href=project.link) live 
                           if project.slogan
                              p.project-slogan= project.slogan 
      include /footer
