mixin wasrauskam
   section.card#wasrauskam
      h2.card-title Was raus kam
      main
         section.card-images.card-section
            a(href='/images/graphics/large/was-raus-kam-2-front.jpg', data-lightbox='wasrauskam')
               img(src='/images/graphics/small/was-raus-kam-2-front.jpg')
            a(href='/images/graphics/large/was-raus-kam-2-back.jpg', data-lightbox='wasrauskam')
               img(src='/images/graphics/small/was-raus-kam-2-back.jpg')
         section.card-section
            p Meine Texte gibt es jetzt im Büchlein mit dem Titel <em>Was raus kam</em>.
            a.arrow-link(href='/wasrauskam') Info & Konsum

mixin performancelist
   ul.performance-list
      for p in performances
         li.performance
            header.performance-header 
               time.performance-date= p.date 
               span.performance-place #{p.place} 
            h3.performance-title #{p.title}
            

doctype html
html(lang='de')
   head
      script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-109667635-1")
      script.
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
         gtag('config', 'UA-109667635-1');
      meta(charset='utf-8')
      block title
         if pagetitle
            title= pagetitle + ' – Dominic Looser'
         else
            title Dominic Looser: Text/Web/Grafik
      block description
         meta(name='description', content=description)
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')

      link(rel='stylesheet', href='/styles/styles.css')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Inconsolata:400,700|Rubik:300,700|EB+Garamond:400,400i,700,700i') 
      link(rel='stylesheet', href='/styles/lightbox.min.css')
   
   body(id='#{id}')
      block main
      block scripts
         script(src='/scripts/jquery.min.js')
         script(src='/scripts/navigation.js')