extends _default

block content
   section.s1
      h2.h2 Datum
      p Dienstag 20. August 2019 16:00
      p Mittwoch 28. August 2019 16:00 (bei schlechtem Wetter am 20sten)

   section.s1
      h2.h2 Fotografie
      p: a(href='http://elenabrotschi.com') Elena Brotschi

   section.s1.underlined-links
      h2.h2 Mögliche Locations
      ul.default-list
         for playground in playgrounds
            li.playground
               a(href=playground.link)= playground.name
               span  (Kreis #{playground.district}, #{playground.comments})
               if playground.image
                  img(src='images/small/shooting/playgrounds/' + playground.image)

   section.s1
      h2.h2 DarstellerInnen
      ul#candidates
         for person in models
            li
               .person.twocols
                  div
                     h3.person-name= person.name
                     p.person-comments= person.comments
                  a(href='/images/large/shooting/' + person.image, data-lightbox='people', data-title=person.name)
                     img(src='/images/small/shooting/' + person.image)

   section.s1
      h2.h2 Stil
      p Absurd und schön

   section.s1
      h2.h2 Inspiration
      section.s2
         ul.default-list 
            li Die Antwoord
            li Deichkind
            li Pet Shop Boys
      section.s2
         .masonry
            for filename in public.images.small.shooting.inspiration._contents
               figure.masonry-item
                  a(href='images/large/shooting/inspiration/' + filename, data-lightbox='inspiration')
                     img(src='images/small/shooting/inspiration/' + filename)
      //- section.s2
      //-    .grid
      //-       videos
         
   section.s1
      h2.h2 Requisiten
      ul.default-list
         li Pferdemaske, Hasenmaske
         li Tassen
         li weisser Schutzanzug
         li Schaf
         li viele verschiedene Sonnenbrillen
         li zwei verschiedene Goldketten
   
   
  

block append scripts
   script(src='/scripts/masonry.pkgd.min.js')
   script(src='/scripts/imagesloaded.js')
   script(src='/scripts/lightbox.min.js')
   script(src='/scripts/masonry.js')