include /wikidata

mixin section(title)
   if block
      section.s1
         header.s1-header
            h2.h2= title
         .s1-main
            block

mixin textSection(title, data)
   +section(title)
      != marked(data)

mixin dlSection(title, data, lang=global.settings.lang)
   if data
      +section(title)
         dl.dl
            for definition, term in data
               dt
                  +item(term, lang=lang)
               dd 
                  +item(definition, lang=lang)

mixin listSection(data, title)
   if data
      +section(title)
         ul.default-list
            for item in data
               li
                  +item(item)


mixin flatSection(title, data, props=[])
   if data
      +section(title)
         dl.dl
            for prop in props
               if data[prop.key]
                  dt= prop.label
                  dd
                     +item(data[prop.key])


mixin subsection(title)
   section.s2
      header.s2-header
         h3.h3= title
      .s2-main
         block

mixin listSubsection(data, title)
   if data
      +subsection(title)
         ul.default-list
            for item in data
               li
                  +item(item)

mixin imageSubsection(title, dir)
   if containsImages(dir)
      +subsection(title)
         .image-columns
            for fileId in getImages(dir)
               +lightboxImage(fileId, lightboxGroup='inspirational_images')