include /wikidata

mixin section(title)
   if block
      section.s1
         header.s1-header
            h2.h2= title
         .s1-main
            block

mixin subsection(title)
   section.s2
      header.s2-header
         h3.h3= title
      .s2-main
         block


//-------
//- video
//-------

mixin videoIframe(data)
   if data.youtube_id
      iframe(src='https://www.youtube.com/embed/' + data.youtube_id, frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture', allowfullscreen)
   else if data.youtube_playlist_id
      iframe(src=`https://www.youtube.com/embed/videoseries?list=${data.youtube_playlist_id}`, frameborder='0', allowfullscreen)
   else if data.rumble_id
      iframe(src=`https://rumble.com/embed/${data.rumble_id}`)
   else if data.odysee_id
      iframe(id="lbry-iframe", src=`https://odysee.com/$/embed/${data.odysee_id}`, allowfullscreen)
   else if data.youmaker_id
      iframe(src=`https://www.youmaker.com/embed/${data.youmaker_id}`, frameborder="0", allowfullscreen)

mixin videoSection(videos, title)
   if Array.isArray(videos) && videos.length
      +section(title)
         .video-grid
            for video in videos
               .video
                  .video-wrapper
                     +videoIframe(video)
                  h3.video-title= video.title
                  p= video.description

mixin videoSubsection(data, title)
   if Array.isArray(data) && data.length
      +subsection(title)
         .video-grid
            for item in data
               .video
                  .video-wrapper
                     +videoIframe(item)
                  h3.video-title= item.title
                  p= item.description


mixin videoPlayerSection(videos, title)
   +section(title)
      .open-video
         .video-wrapper
            +videoIframe(videos[0])   
      ul.video-controls
         for item in videos
            li: button.video-control(data-video=JSON.stringify(item))
               h2.control-title= item.title
      script
         :coffee-script
            toIframe = (data) ->
               iframe = document.createElement('iframe')
               if data.youtube_id
                  iframe.src='https://www.youtube.com/embed/' + data.youtube_id
               else if data.youtube_playlist_id
                  iframe.src="https://www.youtube.com/embed/videoseries?list=#{data.youtube_playlist_id}"
               else if data.rumble_id
                  iframe.src="https://rumble.com/embed/#{data.rumble_id}"
               else if data.odysee_id
                  iframe.src="https://odysee.com/$/embed/#{data.odysee_id}"
                  iframe.id = 'lbry-iframe'  
               else if data.youmaker_id
                  iframe.src="https://www.youmaker.com/embed/#{data.youmaker_id}"
               console.log(iframe)
               return iframe
            controls = document.querySelectorAll('.video-control')
            controls[0].classList.add('active')
            window.openVideoIframe = document.querySelector('.open-video iframe')
            for control in controls
               control.addEventListener 'click', ->
                  
                  newIframe = toIframe(JSON.parse(this.dataset.video))
                  window.openVideoIframe.replaceWith(newIframe)
                  for control in controls
                     control.classList.remove('active')
                  this.classList.add('active')

mixin textSection(title, data)
   +section(title)
      != marked(data)

mixin dlSection(title, data, lang=global.settings.lang)
   if data
      +section(title)
         dl.dl
            for definition, term in data
               dt
                  +infoboxButton(term, lang=lang)
               dd 
                  +infoboxButton(definition, lang=lang)

mixin listSection(data, title)
   if data && Array.isArray(data) && data.length
      +section(title)
         ul.default-list
            for item in data
               li
                  +infoboxButton(item)


mixin flatSection(title, data, props=[])
   if data
      +section(title)
         dl.dl
            for prop in props
               if data[prop.key]
                  dt= prop.label
                  dd
                     if Array.isArray(data[prop.key])
                        ul.default-list
                           for item in data[prop.key]
                              li 
                                 +infoboxButton(item)
                     else
                        +infoboxButton(data[prop.key])




mixin listSubsection(data, title)
   if data
      +subsection(title)
         ul.default-list
            for item in data
               li
                  +infoboxButton(item)

mixin imageSubsection(title, dir)
   if containsImages(dir)
      +subsection(title)
         .image-columns
            for fileId in getImages(dir)
               +lightboxImage(fileId, lightboxGroup='inspirational_images')