mixin elementScripts
   script(src='/scripts/webcomponents-bundle.js')
   script(src='https://unpkg.com/wikidata-elements@0.1.0/dist/wd-elements.umd.js') 


mixin item(data, lang=global.settings.lang)
   if ! data
      return ''
   if typeof data == 'string' 
      if data.startsWith('Q')
         button.show-item(data-id=data): wd-entity(id=data, label, lang=lang)
      else
         = data
   
   else if data.label 
      if data.link
         a(href=data.link)= data.label
      else
         = data.label
   
   else if data.title
      if data.link
         a(href=data.link)= data.title
      else
         = data.title
   
   script(src='/scripts/wikibase-sdk.min.js')
   script(type='module', src='/scripts/wikidata.js')

      
mixin label(input, lang=global.settings.lang)
   if typeof input == 'string'
      if input.startsWith('Q')
         wd-entity(entity-id=input, label, lang=lang)
      else
         = input
   +elementScripts
   
mixin value(entity, prop, lang=global.settings.lang)
   script(type='module', src='https://unpkg.com/wikidata-elements@0.1.0/dist/wd-elements.umd.js')
   wd-entity(entity-id=entity, property=prop, lang=lang)


mixin title(id)
   script(type='module', src='https://unpkg.com/wikidata-elements@0.1.0/dist/wd-elements.umd.js')
   wd-entity(entity-id=id, property='P1476')
