mixin item(data, lang=global.settings.lang)
   if typeof data == 'string' 
      if data.startsWith('Q')
         button.show-item(data-id=data): wd-entity(id=data, label, lang=lang)
      else
         = data
   else if data.link
      a(href=data.link)= data.label
   else if data.label 
      = data.label